<!DOCTYPE html>

<style>
    .marg {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">TaskApp</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="dropdown">
                    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <font color="white">Administration</font>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="btn btn-success" asp-controller="Admin" asp-action="Index">User Accounts</a></li>
                        <li><a class="btn btn-success" asp-controller="TeamAdmin" asp-action="Index">Teams</a></li>
                        <li><a class="btn btn-success" asp-controller="TaskAdmin" asp-action="Index">Tasks</a></li>
                    </ul>
                </li>
                <li>
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger"><font color="white">Logout</font></a>
                    }
                </li>
            </ul>
        </div>
    </nav>

    <div>@RenderBody()</div>

</body>
</html>
